.center {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
  }
  
.success {
  font-size: large; 
  color: white;
}

.dice {
  font-size: 100px;
}