.center {
    display: flex ;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    position: relative;
    padding: 4rem;
    text-align: center;
  }
  
.success {
  font-size: large; 
  color: white;
}

.dice {
  font-size: 100px !important;
}

.probability {
  font-size: x-large;
  color: green;
  text-align: center;
}

.title {
  display: flex ;
  flex-direction: column;
  justify-content: left;
  position: relative; 
  text-align: left;
}

.item{
  width: 100%
}

.appbartitle {
  padding-top: 2rem;
  padding-bottom: 2rem;
}