.main {
  width: fit-content
}

.center {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
  
.success {
  font-size: large; 
  color: white;
}

.dice {
  font-size: 100px;
}

.probability {
  font-size: x-large;
  color: green;
  text-align: center;
}

.binomial {
  display: flex ;
  flex-direction: row; 
  padding-top: 2rem;
  text-align: center; 
  align-items: top;
  flex-wrap: wrap;
  justify-content: center;
}

.divider {
  display: flex ;
  flex-direction: row;  
  margin: 2rem;
  background-color: aqua;
}

.chartItem { 
  width: 50%;
}

.coinSuccess {
  margin: 2rem;
}

.title {
  display: flex ;
  flex-direction: column;
  justify-content: left;
  position: relative; 
  text-align: left;
}

.appbartitle {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mainCard {
  margin-top: 0px !important;
}

.slider {
  padding-left: 1.5rem;
}

@media (max-width: 600px) {
  .binomial {
    justify-content: center;
  }
  .chartItem {
    width: 100%;
  }
}