.title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    text-align: left;
  }
  
  .mainCard {
    margin-top: 0px !important;
  }
  
  .titleBackground {
    background-color: aliceblue;
  }

  .equationHeader {
    background-color: #f2f2f2; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 18px;
  }

  .slider {
    padding-left: 1.5rem;
  }